[submodule "squidrouter"]
	path = squidrouter
	url = https://github.com/GeniusVentures/squidrouter.git
[submodule "banxa"]
	path = banxa
	url = https://github.com/GeniusVentures/banxa.git
[submodule "tokeninfo"]
	path = tokeninfo
	url = https://github.com/GeniusVentures/tokeninfo.git
